@media (max-width: 900px) {
    .logo img {
        height: 65px;
    }
    nav {
        display: none;
    }
    .mobile-menu {
        display: flex;
    }
    .hero-content {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 3rem;
    }
    .hero-text p {
        margin-left: auto;
        margin-right: auto;
    }
    .hero-image {
        order: -1;
    }
    .hero-image img {
        max-width: 350px;
    }
    .floating-badge {
        left: 10%;
    }
    .running-content {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 2rem;
    }
    .gallery-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    /*.gallery-item:first-child {
        grid-column: span 2;
        grid-row: span 1;
    }*/
    .founder-photos {
       gap: 1rem;
    }
    .founder-photo-item {
        width: 320px;
        height: 380px;
    }
    .menu-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 600px) {
    header {
        padding: 0.3rem 1rem 0.5rem 1rem;
    }
    .logo img {
        height: 55px;
    }
    .hero {
        padding: 5rem 1rem 3rem;
    }
    h1 {
        font-size: 2.5rem;
    }
    .hero-image img {
        max-width: 280px;
        border-radius: 140px 140px 15px 15px;
    }
    .floating-badge {
        padding: 1rem;
        left: 5%;
        bottom: 10%;
    }
    .floating-badge .year {
        font-size: 1.5rem;
    }
    /*.gallery-grid {
        grid-template-columns: 1fr;
    }*/
    .gallery-item:first-child {
        grid-column: span 1;
    }
    .info-grid {
        gap: 1rem;
    }
    .info-card {
        padding: 1.5rem 1rem;
    }
    .menu-grid {
        grid-template-columns: 1fr;
        max-width: 350px;
    }
    .press-grid {
        grid-template-columns: 1fr;
    }
    .founder-photo-item {
        width: 100%;
        height: 300px;
    }
}
